<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <!--<host>mail.intercoop.com</host>
  <uname>hrtest</uname>
  <pwd>qq@1234</pwd>
  <sender>hrtest@coopgs.com</sender>-->

  <host>smtp.163.com</host>
  <uname>gzsjysczyy@163.com</uname>
  <pwd>8223350808</pwd>
  <sender>gzsjysczyy@163.com</sender>
</configuration>

